<html>
  <head>
    <title>Fit Bit Pong</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="dat.gui.min.js"></script>
    <script type="text/javascript" src="nunjucks.js"></script>
    {%if logged %}
    <script type="text/javascript" src="pong.js"></script>
    {% endif %}
    <style>
    h1 {
      color: #3b5166;
      font-size: 48px;
      font-family: serif;
    }
    a {
      color: #3b5166;
      font-size: 48px;
      font-family: serif;
    }
    a:visited{
      color: #3b5166;
    }
    </style>

  </head>
  <h1> Fit Bit Pong </h1>
  {%if logged %}
  {% else %}
  <body><a href="/login">login</a></body>
  {% endif %}

</html>
